body {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue','Open-Light',sans-serif;
    background-color: rgb(34, 36, 37);
    margin: 0 auto;
    height: 100%;
}

#time {
    font-size: 12em;
    text-align: center;
}

#time span {
    display: inline-block;
    width: 280px;
    text-align: center;
    -webkit-transition: none;
    -webkit-transform: rotate3d(0,0,0,0);
}

#forecast ul li {
    font-size: 4.5em;
    text-align: center;
}

#forecast ul li h3 {
    font-size: 1.4em;
}

#forecast ul li .today h3 {
    font-size: 1.8em;
}

.location, .date {
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;
    margin: 30px 0;
    font-family: 'Helvetica Neue','Open-Reg',sans-serif;
    color: rgba(255, 255, 255, 0.3);
}